/* Define CSS Variables for Color Palette */

:root {
	--bright-blue: #00bfff; /* Electric Blue */
	--light-blue: #1e90ff; /* Dodger Blue */
	--medium-blue: #003366; /* Dark Royal Blue */
	--dim-dark-blue: #1c1f46; /* Desaturated Midnight Blue */
	--dark-blue: #0b0d3b; /* Midnight Blue */

	--light-purple: #d08fff; /* Light Purple */
	--bright-purple: #8a2be2; /* Neon Purple */
	--medium-purple: #5a189a; /* Dark Purple */
	--deep-purple: #360e5eff; /* */
	--dark-purple: #36115e;

	--bright-white: #fafafa;
	--dim-white: #cccccc;
	--light-grey: #777777;
	--dark-grey: #333333;

	--hot-pink: #ff00ff; /* Vivid Hot Pink */

	--background-color: var(--deep-purple); /* Midnight Blue */
	--primary-accent-color: var(--light-blue); /* Dodger Blue */
	--secondary-accent-color: var(--medium-purple); /* Neon Purple */
	--highlight-color: var(--hot-pink); /* Vivid Pink */
	--text-color: var(--dim-white); /* Light Gray */
	--button-hover-color: var(--bright-purple); /* Neon Purple */

	/* Dark background for footer and navbar */
	--dark-background-color: var(--medium-purple);

	/* Slightly darker background for inputs */
	--input-background-color: var(--dim-dark-blue);

	/* Default border color for inputs */
	--input-border-color: var(--dim-white);

	--spacing1x: 13px;
	--spacing2x: 26px;
	--spacing3x: 39px;
	--spacing4x: 52px;
	--spacing5x: 65px;
}

.baloo-paaji-2-logo {
	font-family: "Baloo Paaji 2";
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

/* General Styles */
body {
	font-family: "Baloo Paaji 2";
	margin: 0;
	padding: 0;
	/* background-color: var(--background-color); */
	color: var(--text-color);
}
.fi {
	font-size: 60px; /* Larger size */
	color: var(--bright-white);
	margin: var(--spacing1x); /* Add spacing */
}

/* General Styles */
html,
body {
	height: 100%; /* Full height */
}

body {
	display: flex;
	flex-direction: column;
}

.main-content {
	flex: 1; /* Ensures content takes up available space, pushing the footer down */
}

h2 {
	font-size: var(--spacing5x);
	line-height: 1;
	margin: 0;
	padding: 50px 50px 0px;
}

p {
	font-size: 1.25rem;
}

/* Styles for Sticky Footer */

footer {
	background-color: var(--dark-background-color);
	color: var(--text-color);
	text-align: center;
	position: relative;
	bottom: 0;
	padding: 50px;
}
footer p {
	font-size: 1rem;
}

/* Navbar Styles */
.navbar {
	background-color: var(--medium-purple);
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand a {
	color: var(--bright-white);
	text-align: center;
	font-size: 1.5rem;
	text-decoration: none;
}

.navbar-toggle {
	display: none;
	font-size: 1.5rem;
	color: var(--primary-accent-color);
	cursor: pointer;
}

.main-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.main-nav li {
	margin-right: 20px;
}

.main-nav li a {
	text-decoration: none;
	color: var(--text-color);
	font-size: 18px;
}

/* Hero and Banner Section */
.hero,
.investor-banner {
	background-color: var(--background-color);
	text-align: center;
	padding: 100px 50px;
	background-color: var(--dark-blue);
}

.hero h1,
.investor-banner h2 {
	font-size: var(--spacing5x);
	line-height: 1;
	color: var(--bright-white);
	margin: 0;
}

.hero p,
.investor-banner p {
	font-size: var(--spacing2x);
	margin-bottom: var(--spacing4x);
	color: var(--text-color);
}

.cta-button {
	background-color: var(--bright-white);
	color: var(--deep-purple);
	padding: 10px 20px;
	margin: 10px;
	text-decoration: none;
	border-radius: 5px;
}

.cta-button:hover {
	background-color: var(--button-hover-color);
	color: var(--bright-white);
}

/* Features Section */
.features,
.about-content,
.investor-content {
	padding: 50px;
	text-align: center;
	color: var(--dark-purple);
}

.feature-item h3 {
	color: var(--primary-accent-color);
}

/* Contact Page Styles */
.contact-content {
	padding: 50px;
}

form {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: var(--dark-blue);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
	font-size: 1rem;
	color: var(--text-color);
	margin-bottom: 5px;
	display: block;
	text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
	width: 95%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid var(--dark-grey);
	background-color: var(--bright-white);
	color: var(--dark-blue);
	border-radius: 5px;
}

textarea {
	resize: vertical;
}

input[type="submit"] {
	background-color: var(--bright-purple);
	color: var(--bright-white);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: var(--hot-pink);
}

/* General Section Styles */

.video-wrapper {
	margin: 0 auto;
	max-width: 560px;
}

/* Universal Card Grid (team-grid / feature-grid) */
.card-grid {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(250px, 1fr)
	); /* Responsive columns */
	gap: 30px;
	margin-top: 30px;
}

.card {
	background-color: var(--dark-blue);
	padding: 20px;
	border-radius: 10px;
	color: var(--text-color);
	text-align: center;
}

.card img {
	width: 100%;
	height: auto;
	border-radius: 10px; /* For team members, use this for images */
	margin-bottom: 15px;
}

.card h3 {
	margin-top: 10px;
	color: var(--light-purple);
}

.card p {
	color: var(--dim-white);
}

.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
/* Mobile Styles */
@media screen and (max-width: 768px) {
	.main-nav {
		display: none;
		flex-direction: column;
		width: 100%;
		background-color: var(--dark-background-color);
		position: absolute;
		top: 60px;
		left: 0;
	}

	.main-nav li {
		text-align: center;
		margin: 10px 0;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-toggle.active + .main-nav {
		display: flex;
	}

	.hero h1,
	.investor-banner h2,
	h2 {
		font-size: 2.5rem;
	}

	p {
		padding: 0px 20px;
		font-size: 1.5rem;
	}

	.cta-button {
		font-size: 1rem;
		padding: 12px 24px;
	}

	.features,
	.about-content,
	.investor-content,
	.contact-content {
		padding: 20px;
	}

	form {
		padding: 15px;
	}
}

@media screen and (max-width: 480px) {
	.hero h1,
	.investor-banner h2,
	h2 {
		font-size: 2rem;
	}

	p {
		padding: 0px 20px;
		font-size: 1.5rem;
		line-height: 1.25;
	}

	.cta-button {
		font-size: 0.9rem;
		padding: 10px 16px;
	}

	.features,
	.about-content,
	.investor-content,
	.contact-content {
		padding: 10px;
	}

	form {
		padding: 10px;
	}
}
